<app-header></app-header>
<section class="ftco-section" id="cards">
  <div class="container">
    <div class="row">
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Home Loan Interest rates reduced</h5>
            <p class="card-text">Home loan interest rates are reduced as per the goverment guidelines.
              The updated rates will be effective immediately</p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Net Banking Offers</h5>
            <p class="card-text">Customers who will opt for Internet banking while opening a saving account will get a
              $50 amazon voucher
            </p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Mobile App Downtime</h5>
            <p class="card-text">The mobile application of the EazyBank will be down from 2AM-5AM on 12/05/2020 due to maintenance activities</p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">E Auction notice</h5>
            <p class="card-text">There will be a e-auction on 11/08/2020 on the Bank website for all the stubborn arrears.Interested parties can participate in the e-auction.</p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Launch of Millennia Cards</h5>
            <p class="card-text">Millennia Credit Cards are launched for the premium customers of EazyBank. With these cards, you will get 5% cashback for each purchase</p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardheader">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">COVID-19 Insurance</h5>
            <p class="card-text">EazyBank launched an insurance policy which will cover COVID-19 expenses. Please reach out to the branch for more details</p>
            <a href="#" class="btn btn-success">Contact US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
